<div class="ui-g">

  <div class="ui-g-12">
    <div class="ui-grid-col-12">
      <div class={{messageDetails.severity}} *ngIf="showMessage" >
        <span>{{messageDetails.summary}}</span>
        <span>{{messageDetails.detail}}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12" >
    <button id="two" *ngIf="userRole=='super-admin'"  pButton type="button" icon="fa fa-pencil-square-o" iconPos="left" label="Create Qos" class="ui-button-success" (click)="createQos()"></button>
  </div>

  <div class="ui-g">

    <p-dataTable [value]="payloads" [rows]="10" [paginator]="false" sortMode="multiple"
                 resizableColumns="true" columnResizeMode="expand" [selectionMode]="userRole=='user'? 'none' : 'single' " [(selection)]="selectedQos"
                 [contextMenu]="cm">
      <p-header>Quality Of Service </p-header>
      <p-column field="eventName" header="Event Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="deliveryMode" header="Delivery Mode" [sortable]="true"></p-column>
      <p-column field="confirmOnPublish" header="Confirm On Publish" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="confirmationWaitTime" header="Confirmation WaitTime" [sortable]="true"></p-column>
      <p-column field="createdBy" header="Created BY" [sortable]="true"></p-column>
    </p-dataTable>


    <p-contextMenu #cm [model]="items" *ngIf="false"></p-contextMenu>
    <p-confirmDialog width="425"></p-confirmDialog>

  </div>
</div>
